.container {
	max-width: 100%;
	width: $width-container;
  	margin: $margin-container;
}

.header-nav {
	margin: $margin-header;
	display: flex;
	

	img {
		margin-right: 20px;
	}
	
	.links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-end;
		width: 30%;
	
		li {
			width: 90px;
			margin-left: $padding-header-nav-li;
		}

		a {
			color: $font-color-black;
			
		}
	}
	}
	
// }