.container {
	max-width: 100%;
	width: $width-container;
  	margin: $margin-container;
}

.header-nav {
	margin: $margin-header;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	
	
	.links {
		margin: 0;
	}
	
	.first-links, .second-links, .third-links {
		display: block;
		flex-wrap: wrap;
		margin-left: $margin-left-header-nav;

		li {
			height: 32px;
			padding: $padding-header-nav-li;
		}

		a {
			color: $font-color-black;
		}
	}
	
}