.items {
	margin: $margin-items;

	h2 {
		font-size: $font-size-h2;
		margin-left: $margin-left-items-h2;
	}
}

.items-shop-instagram {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.item {
		flex-basis: $flex-basis-item;
		display: block;
		margin: $margin-item;
		margin-left: 0;

		img {
			width: $width-item-img;
			height: $height-item-img;
		}
		
		p {
			font-size: $font-size-p;
			font-weight: $font-weight-light;
			padding-top: $padding-top-items-p;
		}
	}
}


