.slider {
	img {
		width: 100%;
	}
}

.prev-arrow::before {
	z-index: 100;
	position: absolute;
	top: 50%;
	// display: inline-block;
	width: 50px;
	height: 60px;
	// border: 0;
	background-color: gray;
	// opacity: 0.5;
}

.prev-arrow::after {
	left: 3px;
	width: 3px;
	height: 3px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}