//font-color
$font-color-black: #282828;
$font-color-gray: #7A7A7A;

//font-size
$font-size-base: 16px;
$font-size-p: 15px;
$font-size-h2: 23px;

//font-weight
$font-weight-light: lighter;
$font-weight-bold: bold;

//line-height
$_font-line-height: 1.2px;

//background-color
$background-color: #FCFCFC;

//container
$width-container: 1140px;
$margin-container: 0% auto;

//header
$margin-header: 2% 9%;
$padding-header-nav-links: 10%;
$margin-left-header-nav: 30%;
$padding-header-nav-li: 1%;

//items
$margin-items: 4% 0; 
$margin-left-items-h2: 8%;
$flex-basis-item: 20%;
$margin-item: 1.5% 1%;
$width-item-img: 96%;
$height-item-img: 96%;
$padding-top-items-p: 5%;

//footer
$margin-footer-nav: 5% 0 3% 0;
$margin-right-footer-nav-li: 1%; 
