//font-color
$font-color-black: #282828;
$font-color-gray: #7A7A7A;

//font-size
$font-size-base: 16px;
$font-size-h1: 20px;

//background-color
$background-color: #FFFFFF;

//container
$width-container: 1140px;
$margin-container: 0 auto;
//header
$margin-header: 2% 18%;
$padding-header-nav-links: 10%;
$margin-left-header-nav: 30%;
$padding-bottom-header-nav-li: 10%;
